* text=auto !eol
/CHANGES -text
/CMakeLists.txt -text
/COPYING -text
/INSTALL -text
/README_EN.txt -text
/TODO -text
admin/svn2package.sh -text
/changelog.txt -text
designer/designer.pro -text
designer/pixmaps/qwt_polar_plot.png -text
designer/qwt_polar_designer_plugin.cpp -text
designer/qwt_polar_designer_plugin.h -text
designer/qwt_polar_designer_plugin.qrc -text
doc/Doxyfile -text
doc/images/polarplot.png -text
doc/qwtpolar.dox -text
examples/examples.pri -text
examples/examples.pro -text
examples/polardemo/main.cpp -text
examples/polardemo/mainwindow.cpp -text
examples/polardemo/mainwindow.h -text
examples/polardemo/pixmaps.h -text
examples/polardemo/plot.cpp -text
examples/polardemo/plot.h -text
examples/polardemo/polar.css -text
examples/polardemo/polardemo.pro -text
examples/polardemo/settingseditor.cpp -text
examples/polardemo/settingseditor.h -text
examples/spectrogram/main.cpp -text
examples/spectrogram/plot.cpp -text
examples/spectrogram/plot.h -text
examples/spectrogram/plotwindow.cpp -text
examples/spectrogram/plotwindow.h -text
examples/spectrogram/spectrogram.pro -text
/qwtpolar.prf -text
/qwtpolar.pro -text
/qwtpolarbuild.pri -text
/qwtpolarconfig.pri -text
/qwtpolarfunctions.pri -text
src/qwt_polar.h -text
src/qwt_polar_canvas.cpp -text
src/qwt_polar_canvas.h -text
src/qwt_polar_curve.cpp -text
src/qwt_polar_curve.h -text
src/qwt_polar_fitter.cpp -text
src/qwt_polar_fitter.h -text
src/qwt_polar_global.h -text
src/qwt_polar_grid.cpp -text
src/qwt_polar_grid.h -text
src/qwt_polar_item.cpp -text
src/qwt_polar_item.h -text
src/qwt_polar_itemdict.cpp -text
src/qwt_polar_itemdict.h -text
src/qwt_polar_layout.cpp -text
src/qwt_polar_layout.h -text
src/qwt_polar_magnifier.cpp -text
src/qwt_polar_magnifier.h -text
src/qwt_polar_marker.cpp -text
src/qwt_polar_marker.h -text
src/qwt_polar_panner.cpp -text
src/qwt_polar_panner.h -text
src/qwt_polar_picker.cpp -text
src/qwt_polar_picker.h -text
src/qwt_polar_plot.cpp -text
src/qwt_polar_plot.h -text
src/qwt_polar_renderer.cpp -text
src/qwt_polar_renderer.h -text
src/qwt_polar_spectrogram.cpp -text
src/qwt_polar_spectrogram.h -text
src/src.pro -text
